@mixin button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;


  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  @include button;
  background-color: var(--color-accent-500);
  width: 150px;
  height: 36px;
  top: 20px;
  left: 20px;
  filter: drop-shadow(0 4px 4px #8C61FF59);
  padding: 6px 28px;
  color: var(--color-light-100);
  border-radius: 4px;
  gap: 10px;
  font-size: 13px;

  &:active{
    background: var(--color-accent-700);

  }
  &:disabled {
    background-color: var(--color-accent-900);
    color: var(--color-light-900);
  }

  &:hover {
    background: var(--color-accent-300);
  }

  &:focus {
    background: linear-gradient(0deg, var(--color-accent-500), var(--color-accent-500)),
    linear-gradient(0deg, var(--color-info-700), var(--color-info-700));
    border: 2px solid #2F68CC
  }
}



.secondary {
  background-color: var(--color-dark-300);
  box-shadow: 0px 4px 4px 0px #4D566021;
  width: 169px;
  height: 36px;
  padding: 6px 28px;
  gap: 10px;
  border-radius: 4px;
  color: var(--color-light-100);

  &:disabled {
    color: var(--color-light-900);
  }
  &:active{
    background: var(--color-dark-500);

  }
  &:hover {
    background: var(--color-dark-100);
  }

  &:focus {
    background: linear-gradient(0deg, #4C4C4C, #4C4C4C),
    linear-gradient(0deg, #2F68CC, #2F68CC);
    border: 2px solid #2F68CC
  }
}

.fullWidth {
  width: 100%;
}