.card {
  max-width: 420px;
  height: 348px;
  width: 100%;
  padding: 33px 36px 29px;
  display: flex;
  flex-direction: column;
}

//.picture{
//  display: flex;
//  justify-content: center;
//  border-radius: 50%;
//  margin-bottom: 19px;
//  margin-top: 27px;
//}
.wrap{
  display: flex;
  justify-content: center;
  margin-top: 13px;
}
.title {
  display: flex;
  text-align: center;
  justify-content: center;
}
.nameWithEditButton {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.editNameButton {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  &:focus-visible {
    outline: var(--outline-focus);
  }
}


.email {
  display: flex;
  text-align: center;
  color: var(--color-dark-100);
  justify-content: center;
}
.photoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 27px;
  margin-bottom: 6px;

  > div {
    position: relative;

    > img {
      width: 96px;
      height: 96px;
      object-fit: cover;
      border-radius: 50%;
    }

    > .editAvatarButton {
      all: unset;

      cursor: pointer;

      position: absolute;
      right: 16px;
      bottom: 22px;

      width: 16px;
      height: 16px;

      &:focus-visible {
        outline: var(--outline-focus);
      }
    }
  }
}


.iconLog{
  margin-top: 3px;
  margin-right: 5px;
}

.button {
  display: flex;
  justify-content: center;
  width: 122px;
  height: 36px;
}
