.card{
  width: 420px;
  height: 552px;
  background: linear-gradient(0deg, #171717, #171717),
  linear-gradient(0deg, #313131, #313131);
  border: 1px solid #313131;
  box-shadow: 1px 1px 2px 0 #0000001A;
}